<!DOCTYPE html>
<html lang="en">
  <% if @wispr_access_location %>
    <!--
<?xml version="1.0" encoding="UTF-8"?>
<WISPAccessGatewayParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.acmewisp.com/WISPAccessGatewayParam.xsd">
  <Redirect>
    <AccessProcedure>1.0</AccessProcedure>
    <AccessLocation><%= @wispr_access_location.to_s %></AccessLocation>
    <LocationName><%= @wispr_location_name.to_s %></LocationName>
    <LoginURL><%= @wispr_login_url.to_s %></LoginURL>
    <MessageType>100</MessageType>
    <ResponseCode>0</ResponseCode>
  </Redirect>
</WISPAccessGatewayParam>
-->
  <% end %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <head>
    <title><%= @portal_controller.titleize %> Portal</title>
    <!-- <title><%= t('.title') %></title> -->
    <!-- scale properly on mobile devices -->
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="viewport" content="width=device-width">
    <!-- Link to this custom portal's favicon.ico -->
    <%= portal_favicon_link_tag %>
    <!-- Link to this custom portal's portal.css -->
    <!-- Do not link other stylesheets here, instead add a require line to portal.css.scss.erb -->
    <%= portal_stylesheet_link_tag %>
    <!-- Include this custom portal's portal.js -->
    <!-- Do not include other javascripts here, instead add a require line to portal.js.erb -->
    <%= portal_javascript_include_tag %>
    <!-- cross-site request forgery protection token for forms to use -->
    <%= csrf_meta_tag %>
  </head>
  <body class="bg-light d-flex flex-column">
    <div id="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <%= link_to (portal_image_tag 'placeholder_hotel_logo.svg', :style => 'width: 80px;'), { :action => :index }, { :class => 'navbar-brand mx-auto' } %>
          <button class="navbar-toggler position-absolute" type="button" data-toggle="offcanvas" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse offcanvas-collapse" id="navbarSupportedContent">
            <div class="row h-100">
              <div class="col transparent offcanvas-overlay">
              </div>
              <div class="col offcanvas-menu">
                <ul class="navbar-nav ml-auto font-weight-bold">
                  <%= render_portal_partial 'menu' %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <%= render :partial => 'flash', :object => flash %>
      <main class="container-fluid h-100 px-0 flex-fill">
        <%= render_portal_partial 'welcome_message' %>
        <div class="row h-100">
          <div class="col-sm-6 h-100 py-4">
            <%= yield %>
          </div>
          <div class="col-sm-6 d-none d-sm-block h-100 px-0" aria-hidden="true">
            <div class="h-100 hero">
              &nbsp;
            </div>
          </div>
        </div>
      </main>
      <%= render :partial => 'footer' %>
      <!-- <%= render_portal_partial 'development_bar' %> -->
      <% if @effective_portal.try(:require_tos_inline?) %>
        <%= render :partial => 'terms_modal' %>
      <% end %>
    </div>
  </body>
</html>
