<div class="row">
<div class="col-12">
<h4>Add Device</h4>
<p>
  Use this option if you wish to add access for a different device or a
  headless device such as a printer or game console. Enter the device's
  hardware identifier (MAC address) in the field and click the Add button
  below.
</p>
</div>
</div>
<%= form_tag({:action => :add_device}, {:class => 'container-fluid'}) do %>
<fieldset class="container-fluid">
<div class="form-row">
<div class="form-group col-12">
<div class="form-row">
<div class="col-3">
  <%= label_tag('device_mac', 'MAC Address:') %>
  </div>
  <div class="col-9">
  <%= text_field_tag(:device_mac, @device_mac, :size => 20, :placeholder => '00:00:00:00:00:00', :class => 'form-control form-control-lg') %>
  </div>
  </div>
</div>
  <% if @current_account_or_token.is_virtual_gateway? %>
  <div class="form-group col-2">
    <%= label_tag('device_binat', 'Activate DMZ') %>
    <%= check_box_tag(:device_binat, 1, false) %>
    </div>
  <% end %>
  </div>
<div class="form-row">
  <div class="form-group col-12">
  <%= button_tag('Add', :class => 'col-12 btn-lg btn-primary', :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...'.html_safe }) %>
  </div>
  </div>
  </fieldset>
<% end %>

<% if @unclaimed_vtas.present? %>
<div class="row">
<div class="col-12">
  <p class="center">
    Nearby devices:<br>
    <% @unclaimed_vtas.each do |vta| %>    
      <%= content_tag(:a, :class => 'nearby_mac', :data => {mac: vta.mac}) do %>
        <%= vta.mac %>

        <% if lease = DhcpLease.find_by(mac: vta.mac) %>
          -
          <%= lease.hostname %>
          <% if lease.vendor %>
           [<%= lease.vendor %>]
          <% end %>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </p>
  </div>
  </div>
<% end %>
<div class="row">
<div class="col-12">
<%= link_to('Help me find my MAC address', {:action => 'mac_info'}, {:class => 'col-9 d-block mx-auto text-center'}) %>
</div>
</div>

<!--
<p><a href="#rg-chromecast-instructions" data-toggle="modal">Google Chromecast instructions</a></p>

<aside id="rg-chromecast-instructions" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <header class="modal-header">
        <h2 class="inline-block">Create a LAN Party</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </header>
      <main class="modal-body">
    <ul>
      <li>Open the Chromecast app.</li>
      <li>Continue through the Chromecast app until you reach the WiFi selection page.</li>
      <li>The MAC address will be in the lower left corner of the page.</li>
      <li>Please write down the MAC address of your Chromecast.</li>
      <li>Click Cancel in the Chromecast app.</li>
      <li>Type the MAC address into the field on the previous page and click Add.</li>
      <li>Re-open the Chromecast app and complete the setup.</li>
    </ul>
    </main>
          <footer class="modal-footer">
        <button type="button" class="btn btn-lg-secondary" data-dismiss="modal">Cancel</button>
      </footer>
    </div>
  </div>
</aside>
-->