<%= form_tag({:action => ( pf.persisted? ? :update_device_port_forward : :add_device_port_forward)}, {:class => 'container-fluid'}) do %>
  <%= fields_for pf do |f| %>
    <%= f.hidden_field :id, {:id => nil} %>
    <% unless pf.errors.empty? %>
      <div class="form-row">
        <div class="form-group col-12">
          <%= error_messages_for :port_forward %>
        </div>
      </div>
    <% end %>
    <fieldset class="container-fluid">
      <div class="form-row">
        <legend class="col-12 text-center">Port Forward</legend>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <%= f.label :name, "Name (Optional)", :class => 'sr-only' %>
          <%= f.text_field :name, :placeholder => 'Name (Optional)...', :class => 'form-control form-control-lg', :id => nil  %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <%= f.label :external_ports, "External Port(s)", :class => 'sr-only' %>
          <%= f.text_field :external_ports, :placeholder => 'External Port(s)...', :class => 'form-control form-control-lg', :id => nil  %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <%= f.label :internal_ports, "Internal Ports (Optional)", :class => 'sr-only' %>
          <%= f.text_field :internal_ports, :placeholder => 'Internal Ports (Optional)...', :class => 'form-control form-control-lg', :id => nil  %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <%= f.label :name, "Protocol", :class => 'font-weight-bold' %>
          <%= f.collection_select :protocol, NetApp::PORT_PROTOCOLS, :to_s, :to_s, {}, {:class => 'form-control form-control form-control-lg', :id => nil, :placeholder => 'Protocol...', :class => "form-control form-control-lg" }  %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <%= f.label :device_id, "Device", :class => 'font-weight-bold' %>
          <%= f.collection_select :device_id, @current_account_or_token.devices.portal_visible, :id, :name, {include_blank: 'Disabled'}, {:class => 'form-control form-control form-control-lg', :id => nil} %>
        </div>
      </div>
      <div class="form-row">
        <% if pf.persisted? %>
          <div class="form-group col-12">
            <%= button_tag 'Update', :class => 'col-12 form-control form-control-lg btn-primary', :data => {:disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Updating'.html_safe } %>
          </div>
          <div class="form-group col-12">
            <%= button_tag 'Delete', :class => 'col-12 form-control form-control-lg btn-danger', :data => {:confirm => 'Are you sure you want to delete this port forward?', :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span>Deleting'.html_safe } %>
          </div>
        <% else %>
          <div class="form-group col-12">
            <%= button_tag 'Add' , :class => 'col-12 form-control form-control-lg btn-primary' %>
          </div>
        <% end %>
    </div>
  </fieldset>
<% end %>
<% end %>
<hr>
