  
<footer class="footer d-flex flex-column align-items-center justify-content-center bg-white">
  <span class="text-muted text-center">Powered By</span>
  <img class="mx-auto" alt="RG Nets Logo" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI%2BDQo8IS0tIENyZWF0b3I6IENvcmVsRFJBVyBYNiAtLT4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iMi45OTk5OWluIiBoZWlnaHQ9IjAuOTk5OTkyaW4iIHZlcnNpb249IjEuMSIgc3R5bGU9InNoYXBlLXJlbmRlcmluZzpnZW9tZXRyaWNQcmVjaXNpb247IHRleHQtcmVuZGVyaW5nOmdlb21ldHJpY1ByZWNpc2lvbjsgaW1hZ2UtcmVuZGVyaW5nOm9wdGltaXplUXVhbGl0eTsgZmlsbC1ydWxlOmV2ZW5vZGQ7IGNsaXAtcnVsZTpldmVub2RkIg0Kdmlld0JveD0iMCAwIDMwMDAgMTAwMCINCiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI%2BDQogPGRlZnM%2BDQogIDxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI%2BDQogICA8IVtDREFUQVsNCiAgICAuZmlsMSB7ZmlsbDojNjk2QjZEO2ZpbGwtcnVsZTpub256ZXJvfQ0KICAgIC5maWwyIHtmaWxsOiNFRDMyMzc7ZmlsbC1ydWxlOm5vbnplcm99DQogICAgLmZpbDAge2ZpbGw6I0VEMzQzNztmaWxsLXJ1bGU6bm9uemVyb30NCiAgIF1dPg0KICA8L3N0eWxlPg0KIDwvZGVmcz4NCiA8ZyBpZD0iX194MDAyM19MYXllcl94MDAyMF8xIj4NCiAgPG1ldGFkYXRhIGlkPSJDb3JlbENvcnBJRF8wQ29yZWwtTGF5ZXIiLz4NCiAgPHBhdGggY2xhc3M9ImZpbDAiIGQ9Ik00MTIgMjkzYzAsLTM0IDE0LC01NyA1NiwtODMgNjUsLTM4IDE1MSwtNDQgMjU3LC00NGw0MDQgMCAwIC05OCAtNDU1IDBjLTIzMiwwIC0zMTYsMjAgLTQxMywxMTcgLTM1LDM3IC00NCw2MiAtNDQsMTA0bDAgMzgyIDE5NSAwIDAgLTM3OHoiLz4NCiAgPHBhdGggY2xhc3M9ImZpbDEiIGQ9Ik05NDEgNjg3bDAgLTM3OCAxOTUgMCAwIDM4MmMwLDQyIC05LDY3IC00NCwxMDQgLTk3LDk3IC0xODEsMTE3IC00MTMsMTE3bC00NTUgMCAwIC05OCA0MDQgMGMxMDYsMCAxOTIsLTYgMjU3LC00NCA0MiwtMjYgNTYsLTQ5IDU2LC04M3ptLTI1OCAtMjQ2bDAgMGMwLC0xNiA3LC0yNyAyNiwtMzkgMzEsLTE4IDcxLC0yMSAxMjEsLTIxbDExMSAwIDAgLTcyIC0xMzUgMGMtMTA5LDAgLTE0OCw5IC0xOTQsNTUgLTE2LDE3IC0yMSwyOSAtMjEsNDlsMCAxNzkgOTEgMCAwIC0xNTF6bTAgMTI1bDAgMCAwIC0xNTEgLTkxIDAgMCAxNzljMCwyMCA0LDMxIDIxLDQ5IDQ1LDQ1IDg1LDU1IDE5NCw1NWwxMzQgMCAwIC03MiAtMTExIDBjLTUwLDAgLTkwLC0zIC0xMjEsLTIxIC0yMCwtMTIgLTI2LC0yMyAtMjYsLTM5eiIvPg0KICA8ZyBpZD0iXzMwMTcyNDk3NiI%2BDQogICA8cG9seWdvbiBjbGFzcz0iZmlsMiIgcG9pbnRzPSIxMzAyLDMxOCAxNDA5LDMxOCAxNTQ5LDUyNCAxNTQ5LDMxOCAxNjU3LDMxOCAxNjU3LDY5MCAxNTQ5LDY5MCAxNDEwLDQ4NiAxNDEwLDY5MCAxMzAyLDY5MCAiLz4NCiAgIDxwb2x5Z29uIGNsYXNzPSJmaWwyIiBwb2ludHM9IjE3MDYsMzE4IDIwMTMsMzE4IDIwMTMsMzk3IDE4MjEsMzk3IDE4MjEsNDU3IDIwMDAsNDU3IDIwMDAsNTMyIDE4MjEsNTMyIDE4MjEsNjA2IDIwMTksNjA2IDIwMTksNjkwIDE3MDYsNjkwICIvPg0KICAgPHBvbHlnb24gY2xhc3M9ImZpbDIiIHBvaW50cz0iMjA1NSwzMTggMjQwNCwzMTggMjQwNCw0MTAgMjI4Nyw0MTAgMjI4Nyw2OTAgMjE3Miw2OTAgMjE3Miw0MTAgMjA1NSw0MTAgIi8%2BDQogICA8cGF0aCBjbGFzcz0iZmlsMSIgZD0iTTI0MTkgNTY3bDEwOSAtN2MyLDE4IDcsMzEgMTQsNDEgMTIsMTUgMjksMjMgNTEsMjMgMTYsMCAyOSwtNCAzOCwtMTIgOSwtOCAxMywtMTcgMTMsLTI3IDAsLTEwIC00LC0xOCAtMTMsLTI2IC04LC04IC0yOCwtMTUgLTU5LC0yMiAtNTAsLTExIC04NiwtMjYgLTEwOCwtNDUgLTIyLC0xOSAtMzIsLTQzIC0zMiwtNzIgMCwtMTkgNiwtMzcgMTcsLTU0IDExLC0xNyAyOCwtMzAgNTAsLTQwIDIyLC0xMCA1MywtMTUgOTEsLTE1IDQ4LDAgODQsOSAxMDksMjcgMjUsMTggNDAsNDYgNDUsODRsLTEwOCA2Yy0zLC0xNyAtOSwtMjkgLTE4LC0zNyAtOSwtOCAtMjIsLTExIC0zOCwtMTEgLTEzLDAgLTIzLDMgLTMwLDggLTcsNiAtMTAsMTMgLTEwLDIxIDAsNiAzLDExIDgsMTYgNSw1IDE4LDkgMzksMTQgNTAsMTEgODYsMjIgMTA4LDMzIDIyLDExIDM4LDI1IDQ3LDQxIDEwLDE2IDE1LDM1IDE1LDU1IDAsMjQgLTcsNDYgLTIwLDY2IC0xMywyMCAtMzIsMzUgLTU1LDQ2IC0yNCwxMCAtNTQsMTYgLTkwLDE2IC02MywwIC0xMDcsLTEyIC0xMzEsLTM3IC0yNCwtMjQgLTM4LC01NSAtNDEsLTkzeiIvPg0KICA8L2c%2BDQogPC9nPg0KPC9zdmc%2BDQo%3D"

<% if (rotator = Rotator.find_by_urn("footer")) && rotator.rotatees.any? %>


    <% rotator.rotatees.each do |item| %>
    
      <%# The name field of a rotatee can contain a URL of a 
      remote image, or a filename of an image in the images 
      directory of the portal.  %>

      <%# The payload field can contain a URL that 
      the image should hyperlink to. %>

      <% if item.name =~ /http/ %>

        <% if item.payload =~ /http/ %>
          <%= link_to item.payload do %>
            <%= image_tag item.name %>
          <% end %>
        <% else %>
          <%= image_tag item.name %>
        <% end %>

      <% elsif File.exists?(Rails.root.join('app/assets/images', relative_asset_path, item.name)) %>

        <% if item.payload =~ /http/ %>
          <%= link_to item.payload do %>
            <%= portal_image_tag item.name %>
          <% end %>
        <% else %>
          <%= portal_image_tag item.name %>
        <% end %>
      
      <% else %>
        <!-- Unable to locate an image with the filename '<%= item.name %>' -->
<% end %>
<% end %>
<% end %>
</footer>
