<%= form_tag({:action => :shared_credential_login}, {:id => 'shared_credential_login', :class => 'container-fluid'}) do %>
  <%= hidden_field_tag 'credential', 'free' %>
  <fieldset class="container-fluid">
    <div class="form-row">
      <legend class="col-12 text-center">Free Access</legend>
    </div>
    <div class="form-row">
      <%= render :partial => 'survey_questions_fields' %>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= render :partial => 'terms_checkbox' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= button_tag('Sign In', :class => 'd-block mx-auto col-6 btn btn-lg btn-light shadow-sm', :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...'.html_safe }) %>
      </div>
    </div>
  </fieldset>
<% end %>
