<%= form_tag({:action => :radius_login}, {:id => 'radius_login', :class => 'container-fluid'}) do %>
  <fieldset class="container-fluid">
    <div class="form-row">
      <legend class="col-12 text-center">RADIUS login</legend>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= label_tag 'login', 'Login', {:class => 'sr-only'} %>
        <%= text_field_tag 'login', params[:login], :title => 'Login', :placeholder => 'Login...', :class => 'form-control form-control-lg', :autocorrect => :off, :autocapitalize => :off %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= label_tag 'password', 'Password', {:class => 'sr-only'} %>
        <%= password_field_tag 'password', '', :title => 'Password', :placeholder => 'Password...', :class => 'form-control form-control-lg' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= select :radius_realm, :id,
        RadiusRealm.portal_auth.collect { |rr| [ rr.name, rr.id ] }, {}, {:class => 'form-control form-control form-control-lg'} %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= button_tag('Sign In', :class => 'd-block mx-auto col-6 btn btn-lg btn-light shadow-sm', :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...'.html_safe }) %>
      </div>
    </div>
  </fieldset>
<% end %>
