<%= form_tag({:action => :ldap_login}, {:id => 'ldap_login', :class => 'container-fluid'}) do %>
  <fieldset class="container-fluid">
    <div class="form-row">
      <legend class="col-12 text-center">LDAP Login</legend>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= label_tag 'login', 'Login', {:class => 'sr-only'} %>
        <%= text_field_tag 'login', params[:login], :title => 'Login', :placeholder => 'Login', :class => 'col-12 p-2', :autocorrect => :off, :autocapitalize => :off %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= label_tag 'password', 'Password', {:class => 'sr-only'} %>
        <%= password_field_tag 'password', '', :title => 'Password', :placeholder => 'Password', :class => 'col-12 p-2' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= select :ldap_domain, :id,
        LdapDomain.all.collect { |ld| [ ld.name, ld.id ] }, {}, {:class => 'col-12 p-2'} %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= button_tag('Sign In', :class => 'd-block mx-auto col-6 btn btn-light shadow-sm btn-lg', :data => { :disable_with => 'Please wait...' }) %>
      </div>
    </div>
  </fieldset>
<% end %>
