<%= form_tag({:action => :reset_password}, {:id => 'reset_password', :class => 'container-fluid'}) do %>
  <%= hidden_field_tag 'login', @account.login %>
  <fieldset class="container-fluid">
    <legend class="col-12 text-center"><%= @account.login %></legend>
    <div class="form-group col-12">
      <span><%= @secret_question.question %></span>
    </div>
    <div class="form-group col-12">
      <%= label_tag 'secret_answer', 'Enter Answer', :class=> 'sr-only' %>
      <%= text_field_tag 'secret_answer', params[:secret_answer], :placeholder => 'Enter Answer', :class => 'col-12 p-2' %>
    </div>
    <div class="form-group col-12">
      <%= label_tag 'password', 'New Password', :class=> 'sr-only' %>
      <%= password_field_tag 'password', '', :placeholder => 'New Password', :class => 'col-12 p-2' %>
    </div>
    <div class="form-group col-12">
      <%= label_tag 'password_confirmation', 'Confirm Password', :class=> 'sr-only' %>
      <%= password_field_tag 'password_confirmation', '', :placeholder => 'Confirm Password', :class => 'col-12 p-2' %>
    </div>
    <div class="form-group col-12">
      <%= button_tag('Reset', :class => 'd-block mx-auto col-6 btn btn-light shadow-sm btn-lg', :data => { :disable_with => 'Please wait...' }) %>
    </div>
  </fieldset>
<% end %>
