<%= form_tag({:action => :reset_password}, {:id => 'reset_password_sms', :class => 'container-fluid'}) do %>
  <%= hidden_field_tag 'login', @account.login %>
  <fieldset class="container-fluid">
    <legend style="col-12 text-center text-transform: lowercase;"><%= @account.login %></legend>
    <div class="col-12 form-group">
      <p>A verification code was sent to you by 
        <%= 'SMS' if @captive_portal.password_reset_method =~ /sms/ && @account.phone_validation_code.present? %>
        <%= 'and' if @captive_portal.password_reset_method =~ /and|or/ && @account.phone_validation_code.present? %>
        <%= 'Email' if @captive_portal.password_reset_method =~ /email/ && @account.email_validation_code.present? %>.
        Please enter it below to complete your password reset.
      </p>
    </div>
    <div class="col-12 form-group">
      <%= text_field_tag 'validation_code', params[:validation_code], :placeholder => 'enter code...', :class => 'col-12 p-2' %>
    </div>
    <div class="col-12 form-group">
      <%= label_tag 'password', :class => 'sr-only' %>
      <%= password_field_tag 'password', '', :placeholder => 'New password', :class => 'col-12 p-2' %>
    </div>
    <div class="col-12 form-group">
      <%= label_tag 'password_confirmation', :class => 'sr-only' %>
      <%= password_field_tag 'password_confirmation', '', :placeholder => 'Confirm password', :class => 'col-12 p-2' %>
    </div>
    <div class="col-12 form-group">
      <%= button_tag('Reset', :class => 'd-block mx-auto col-6 btn btn-primary btn-lg', :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...'.html_safe }) %>
    </div>
  </fieldset>
<% end %>
