<%= form_tag({:action => :forgot_password_challenge}, {:id => 'forgot_password', :class => 'container-fluid'}) do %>
  <fieldset class="container-fluid">
    <div class="form-row">
      <legend class="col-12 text-center">What is your login?</legend>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= label_tag 'login', 'Login', {:class => 'sr-only'} %>
        <%= text_field_tag 'login', params[:login], :placeholder => 'Login...', :class => 'form-control form-control-lg' %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <%= button_tag('Reset Password', :class => 'd-block mx-auto col-6 form-control form-control-lg', :data => { :disable_with => '<span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true"></span> Please wait...'.html_safe }) %>
      </div>
    </div>
  </fieldset>
<% end %>
<%= render :partial => 'separator' %>
<%= render :partial => 'new_account' %>
