<% if @logged_in %>
    <div class="container-fluid">
      <% if @current_account_or_token %>
        <% if ! @current_account_or_token.can_be_online? %>
          <%= render :partial => 'session_info_complete' %>
        <% end %>

        <%= render :partial => 'summary_devices' %>
        <%= render :partial => 'summary_usage' %>
        <%= render :partial => 'summary_billing' %>
        <%= render :partial => 'summary_profile' %>
      <% else %>
        <%= render :partial => 'session_info' %>
      <% end %>
    </div>
<% else %>
  <%= render_portal_partial 'splash' %>
<% end %>
