<div class="container-fluid">
<div class="row">
<div class="col-3">
<%= portal_image_tag "devices.svg" %>
</div>
<div class="col-9">
  <h2 class="text-primary bottom-left-align">Devices</h2>
</div>
<hr class="col-10 mt-1 mb-4 ml-0">
</div>
  <div class="row">
      <%= render_dashboard_dialogs(:device_session_summary) %>
  </div>
  <%= render :partial => 'lan_parties' %>
    <div class="row">
      <div class='col-12'>
        <h3>Manage Devices</h3>
      </div>
      <hr class="col-10 mt-0 mb-3 ml-0">
    </div>
  <div class="row">
    <div class="col-12">
      <p>
        You have
        <strong><%= pluralize(@current_account_or_token.devices.portal_visible.count, 'configured device') %></strong>
        that may be used to acquire Internet access.
      </p>
      <% if ! @current_account_or_token.unlimited_devices? && @current_account_or_token.max_devices <= @current_account_or_token.devices.portal_visible.count %>
        <p>
          Your account <strong>does not support any additional configured
            devices.</strong> Please delete at least one configured device below if
          you wish to add a different one.
        </p>
      <% else %>
        <% unless @current_account_or_token.unlimited_devices? %>
          <p>
            You may
            <strong>configure up to <%= pluralize(@current_account_or_token.max_devices, 'device') %></strong>
            in your account.
          </p>
        <% end %>
        <div class="row">
          <div class="col-12">
            <%= render :partial => 'add_device_form' %>
          </div>
        </div>
      <% end %>
      <% if @current_account_or_token.is_virtual_gateway? %>
        <p>
          You may specify
          <strong><%= pluralize(@current_account_or_token.max_binats, 'device') %></strong>
          to act as a DMZ host by clicking the <strong>Activate</strong> button under the desired device.
          All inbound ports will be forwarded to the device.  Activating a DMZ host will disable
          any active port forward rules.
        </p>
      <% end %>
      <% if @current_account_or_token.login_sessions.any? %>
        <p>
          You currently have
          <strong><%= pluralize(@current_account_or_token.login_sessions.count, 'active session') %></strong>
          being used to acquire Internet access.
        </p>
      <% end %>
      <div id="device_list">
        <% deviceless_sessions = @current_account_or_token.login_sessions.where('mac IS NULL OR mac NOT IN (?)', @current_account_or_token.devices.map(&:mac)) %>
        <% if deviceless_sessions.any? %>
          <div class="manage_devices_section row">
            <div class="col-12">
              <h3>Sessions Without a Device - <a href='' class='expand_all'>Expand All</a> | <a href='' class='collapse_all'>Collapse All</a></h3>
            </div>
            <% deviceless_sessions.each do |ls| %>
              <div class="device_summary_row col-12">
                <span class="device_header">
                  <%= [ ls.ip, ls.mac, ls.http_user_agent.try(:name) ].compact.join(' - ') %>
                </span>
                <div class="detail_row row">
                  <div class="col-12">
                    <%= render :partial => 'session_detail_row', :locals => {ls: ls} %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <!-- sessionless devices manage_devices_section -->
        <% end %>
        <div class="manage_devices_section">
          <h3>Active Devices - <a href='' class='expand_all'>Expand All</a> | <a href='' class='collapse_all'>Collapse All</a></h3>
          <% active_devices = @current_account_or_token.login_sessions.where(mac: @current_account_or_token.devices.portal_visible.map(&:mac)).order('updated_at DESC') %>
          <% if active_devices.empty? %>
            <p class="text-center">
              None of your devices have active login sessions.
            </p>
          <% end %>
          <% active_devices.each do |ls| %>
            <% device = @current_account_or_token.devices.portal_visible.find_by(mac: ls.mac) %>
            <div class="device_summary_row">
              <span class="device_header">
                <%= [ device.name, ( device.name != device.mac ? "(#{device.mac})" : nil ) ].compact.join(' ') %>
              </span>
              <% if device.binat? %>
                <span class="device_header_badge">DMZ</span>
              <% end %>
              <% if device.device_port_forwards.exists? %>
                <span class="device_header_badge"><%= pluralize(device.device_port_forwards.count, 'Port Forward') %></span>
              <% end %>
              <div class="detail_row">
                <%= render :partial => 'device_detail_row', :locals => {device: device} %>
                <%= render :partial => 'session_detail_row', :locals => {ls: ls} %>
              </div>
            </div>
          <% end %>
        </div>
        <!-- active devices manage_devices_section -->
        <div class="manage_devices_section">
          <h3>Inactive Devices - <a href='' class='expand_all'>Expand All</a> | <a href='' class='collapse_all'>Collapse All</a></h3>
          <% inactive_devices = @current_account_or_token.devices.portal_visible.where.not(mac: @current_account_or_token.login_sessions.map(&:mac)) %>
          <% if inactive_devices.any? %>
            <p>The following devices have been registered to your account, but do not currently have active login sessions:</p>
          <% else %>
            <p class="text-center">You do not have any inactive devices.</p>
          <% end %>
          <% inactive_devices.each do |device| %>
            <div class="device_summary_row offline">
              <span class="device_header">
                <%= [ device.name, ( device.name != device.mac ? "(#{device.mac})" : nil ), (device.binat ? ' - DMZ Activated' : nil) ].compact.join(' ') %>
              </span>
              <% if device.binat? %>
                <span class="device_header_badge">DMZ</span>
              <% end %>
              <% if device.device_port_forwards.exists? %>
                <span class="device_header_badge"><%= pluralize(device.device_port_forwards.count, 'Port Forward') %></span>
              <% end %>
              <div class="detail_row">
                <%= render :partial => 'device_detail_row', :locals => {device: device} %>
              </div>
            </div>
          <% end %>
        </div>
        <!-- inactive devices manage_devices_section -->
        <% if @current_account_or_token.media_converters.portal_visible.exists? %>
          <div class="manage_devices_section">
            <h3>Media Converter Equipment - <a href='' class='expand_all'>Expand All</a> | <a href='' class='collapse_all'>Collapse All</a></h3>
            <% @current_account_or_token.media_converters.portal_visible.each do |media_converter| %>
              <div class="device_summary_row">
                <span class="device_header"><%= media_converter.name %></span>
                <div class="detail_row">
                  <%= render :partial => 'media_converter_detail_row', :locals => {media_converter: media_converter} %>
                </div>
              </div>
            <% end %>
          </div>
          <!-- media converters manage_devices_section -->
        <% end %>
      </div>
      <!-- device_list -->
    </div>
  </div>
  <%= render :partial => 'port_forwards' %>
  <%= render :partial => 'wireless' %>
</div>
<script>
  $(function(){
    $(".device_summary_row, .session_summary_row").click(function(e){
      if ($(e.target).is('.device_summary_row')  ||
          $(e.target).is('.session_summary_row') ||
          $(e.target).is('.device_header')       ||
          $(e.target).is('.device_header_badge')) {
  
        $(this).find('.detail_row').slideToggle();
        $(this).toggleClass('open');
      }
  
    });
  
    $(".expand_all").click(function(e){
      e.preventDefault();
      $(this).closest('.manage_devices_section')
             .find('.device_summary_row, .session_summary_row')
             .addClass('open')
             .find('.detail_row')
             .slideDown();
    })
    $(".collapse_all").click(function(e){
      e.preventDefault();
      $(this).closest('.manage_devices_section')
             .find('.device_summary_row, .session_summary_row')
             .removeClass('open')
             .find('.detail_row')
             .slideUp();
    })
  
    $(".nearby_mac").click(function(e){
      $("#device_mac").val($(this).data('mac'))
    })
  })
</script>
